*{
    margin: 0;
    padding: 0;
}
header{
    background-color: aliceblue;
    height: 4em;
}
.nav-center{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
h1{
    display: inline-flex;
    font-size: 2em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
